<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Piloto Teste GTH</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#" routerLink="usuarios/todos-usuarios" class="nav-link">Todos Usuários</a>
      </li>
      <li class="nav-item">
        <a href="#" routerLink="usuarios/registrar" class="nav-link">Incluir Usuário</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2"></div>
  </div>
</div>

<router-outlet></router-outlet>