<div class="container">
    <h1>Lista de Usuários</h1>
    
    <a href="#" routerLink="registrar" class="btn btn-success">Criar Novo Usuário</a>
      
    <table class="table table-striped">
        <thead>
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>CPF/CNPJ</th>
                <th>EMAIL</th>
                <th>ADMINISTRADOR</th>
                <th width="350px">Ação</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let usuario of this.usuarios">
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.sobrenome }}</td>
                <td>{{ usuario.cpfcnpj }}</td>
                <td>{{ usuario.email}}</td>
                <td>{{ usuario.administrador ? 'SIM' : 'NÃO'}}</td>
                <td>
                  <a href="#" [routerLink]="['/usuarios/', usuario.id, 'view']" class="btn btn-info">Visualizar</a>
                  <a href="#" [routerLink]="['/usuarios/', usuario.id, 'edit']" class="btn btn-primary">Editar</a>
                  <button type="button" (click)="deletarUsuario(usuario.id)" class="btn btn-danger">Deletar</button>
                </td>
              </tr>
        </tbody>
    </table>
 </div>